@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-white text-gray-900 font-sans antialiased;
  }
  
  /* Custom Scrollbar for better UX */
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    @apply bg-gray-50;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-gray-200 rounded-full border-4 border-transparent bg-clip-padding hover:bg-gray-300 transition-colors;
  }
}

@layer utilities {
  .animate-pulse-slow {
    animation: pulse 6s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }
  
  @keyframes pulse {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: .5;
    }
  }
}
